Para migrar la base de datos de bonita a Tramity:

<ol>
    <li> crear esquema prodel y tablas: lugares, registro
        <a href="apps/migration/controller/migration_dlp.php?que=crear_tablas">go</a></li>
    Introducir los datos manualmente:
    <pre>
        COPY prodel.lugares FROM '/home/dani/dlp/lugares.csv' WITH DELIMITER ',' NULL AS '' CSV HEADER QUOTE AS '"';
        COPY prodel.registro FROM '/home/dani/dlp/registro.csv' WITH DELIMITER ',' NULL AS '' CSV HEADER QUOTE AS '"';
    </pre>
    <li> tabla tmp lugares
        <a href="apps/migration/controller/migration_dlp.php?que=lugares">go</a></li>
    <li> Pasar los lugares a producción. Conviene los ids correctos para el resto de operaciones.
        <a href="apps/migration/controller/migration_dlp.php?que=lugares_a_prod">go</a></li>
    <li> repasar tema cargos. Añadir 'vest uden'. Equivalencias hardcoded:
         ['osvsm' >= 'ofsvsm','dre' => 'des','dagd'=> 'agd'];
        </li>
    <li> actualizar nombre Cancilleria a Cancillería con acento
        <a href="apps/migration/controller/migration_dlp.php?que=cancilleria">go</a></li>
    **Después de introducir los lugares, se deben asignar los valores de las siglas de cr, cancillería y Uden(rectorado) en
    el parámetros del admin
    <hr>
    <li> crear entradas
        <a href="apps/migration/controller/migration_dlp.php?que=entradas">go</a></li>
    <li> crear anexos entradas
        <a href="apps/migration/controller/migration_dlp.php?que=entradas_anexos">go</a></li>
    <li> completar referencias entradas
        <a href="apps/migration/controller/migration_dlp.php?que=entradas_ref">go</a></li>
    <li> modificar detalle entradas cancillería
        <a href="apps/migration/controller/migration_dlp.php?que=entradas_cancilleria">go</a></li>
    <hr>
    <li> crear escritos
        <a href="apps/migration/controller/migration_dlp.php?que=aprobaciones">go</a></li>
    <li> aprobaciones destinos
        <a href="apps/migration/controller/migration_dlp.php?que=aprobaciones_destinos">go</a></li>
    <li> crear anexos aprobaciones
        <a href="apps/migration/controller/migration_dlp.php?que=aprobaciones_anexos">go</a></li>
    <li> aprobaciones completar referencias
        <a href="apps/migration/controller/migration_dlp.php?que=aprobaciones_ref">go</a></li>
    <li> modificar detalle aprobaciones cancillería
        <a href="apps/migration/controller/migration_dlp.php?que=escritos_cancilleria">go</a></li>
    <hr>

    <li> cr num bajo a permanentes
        <a href="apps/migration/controller/migration_dlp.php?que=entradas_permanentes">???go</a></li>
    <li> introducir los docs de la carpeta '/home/dani/dlp/exrepository' (sobreescribe)
        <a href="apps/migration/controller/migration_dlp.php?que=entradas_docs">go</a></li>

    <hr>
    <hr>
    <li> Pasar a dlp
        <a href="apps/migration/controller/migration_dlp.php?que=pasar_a_dlp">go</a></li>
    <li> Queda los anexos. Prinero hay que introducirlos en tmp para luego pasarlos
        <a href="apps/migration/controller/migration_dlp.php?que=pasar_a_dlp_anexos">go</a></li>
    <hr>
    <li> Autorizaciones a dlp
        <a href="apps/migration/controller/migration_dlp.php?que=autorizaciones">go</a></li>
</ol>
  