<div id="condiciones">
<form id="que" name="que" action="" method="post">
<input type="hidden" id="filtro" name="filtro" value="{{ filtro }}">
<input type="hidden" id="que" name="que" value="buscar">

  <h3 class="col-10 form-group row">{{ "listar entradas encargadas a"|trans }}:
    <!--  --------------------  Encargados --------------------------  -->
    <div class="col-3">
      {{ oDesplEncargados.desplegable|raw }}
    </div>
    {#
    <!--  --------------------  Botones --------------------------  -->
    <div class="col-3">
      <button id="btn_guardar" type="button" tabindex='90' class="btn btn-primary" onClick="fnjs_buscar('#que');" >
        {{ "buscar"|trans }}
      </button>
    </div>
    #}
  </h3>
</form>
</div>

<script>
fnjs_buscar=function(formulario){
    $(formulario).attr('action',"apps/entradas/controller/entrada_lista.php");
    fnjs_enviar_formulario(formulario,'#main');
}
</script>