<!-- CSS jQuery, bootstrap -->
<link type="text/css" rel='stylesheet' href='../../../node_modules/bootstrap/dist/css/bootstrap.css'/>

<div class='p-2'></div>
<div class="container p-3 my-3 bg-danger text-white fw-bold">
    {{ txt_alert|raw }}
</div>


<!--  --------------------  BOTONES --------------------------  -->
{% if btn_cerrar == TRUE %}
    <div class="text-center">
        <button id='btn_volver' tabindex='91' class="btn btn-secondary" onClick="window.close();">
            {{ "Cerrar"|trans|raw }}
        </button>
    </div>
{% endif %}