<h1>B.- Para migrar los escritos que se tienen en la dl a los ctr:</h1>
(realizar después de las macros del apartado A indicadas más abajo)
<br>
Hay que realizarlo por cada centro que se añade a tramity
<br>

<h4>Centros seleccionados: {{ lista_id_ctr }}</h4>

<!--  --------------- Image cargando , para cuando se activa el leer dock, que es lento --------------- -->
<div id="slow_load" style="display: flex; justify-content: center; align-items: center; text-align: center;">
    <img class="mb-4" src="../images/loading.gif" alt="cargando" width="32" height="32">
</div>

{% if ambito_dl %}
    <h2>Desde el servidor de la dl</h2>
    <ol>
        <li>exportar entradas (las entradas a la dl, se ponen como escritos en el ctr)
            <button class="btn btn-secondary" onclick="fnjs_go('entradas')">go</button>
        </li>
        <li>exportar salidas individuales de la dl al ctr, como entradas en el ctr
            <button class="btn btn-secondary" onclick="fnjs_go('salidas')">go</button>
        </li>
    </ol>
{% else %}
    <hr>

    <h2>Desde el servidor de los ctr</h2>
    <ol>
        <li>leer los escritos DB y grabar los etherpads
            <button class="btn btn-secondary" onclick="fnjs_go('leer_escritos')">go</button>
        </li>
        <li>leer las entradas DB y grabar los etherpads
            <button class="btn btn-secondary" onclick="fnjs_go('leer_entradas')">go</button>
        </li>
        <li>Crear entradas individuales para los ctr de las entradas compartidas
            <button class="btn btn-secondary" onclick="fnjs_go('crear_entradas_individuales')">go</button>
        </li>

    </ol>
{% endif %}

<hr>
<h1>A.- Para las entradas compartidas</h1>
(sólo hay que hacerlo una vez)
<br>
Para esto hay que crear manualmente la tabla en el servidor de ctr: public.entrada_doc_txt
<pre>
    CREATE TABLE IF NOT EXISTS public.entrada_doc_txt (
                id_doc integer PRIMARY KEY,
                txt text NOT NULL);

    ALTER TABLE public.entrada_doc_txt OWNER TO tramity;
    </pre>


{% if ambito_dl %}
    <h2>Desde el servidor de la dl</h2>
    <ul>
        <li>exportar entradas comparitdas de la dl. validas para todos los ctr
            <button class="btn btn-secondary" onclick="fnjs_go('entradas_compartidas')">go</button>
        </li>
    </ul>
{% else %}
    <h2>Desde el servidor de los ctr</h2>
    <ul>
        <li>Leer las entradas compartidas DB y grabar los etherpads
            <button class="btn btn-secondary" onclick="fnjs_go('leer_entradas_compartidas')">go</button>
        </li>
    </ul>
{% endif %}

<form id="form_migracion">
    <input type=hidden name='que' id='que' value=0>
    <input type=hidden name='lista_id_ctr' id='id_expediente' value={{ lista_id_ctr }}>
</form>

<script type="text/javascript">

    $(document).ready(function () {
        $('#slow_load').hide();  // hide it initially
    });

    fnjs_go = function (que) {
        $('#slow_load').show();
        if (typeof event !== 'undefined') {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
        }

        $('#que').val(que);
        datos = $('#form_migracion').serialize();
        request = $.ajax({
            data: datos,
            url: 'apps/migration_ctr/controller/migration_ctr.php',
            method: 'POST',
            dataType: 'json'
        });
        request.done(function (json) {
            $('#slow_load').hide();
            if (json.success != true) {
                alert('{{ "respuesta"|trans|raw }}: ' + json.mensaje);
            } else {
                alert('{{ "respuesta"|trans|raw }}: ' + json.mensaje);
            }
        });
    }
</script>