<h3>{{ "Lista de suplencias"|trans|raw }}</h3>
<table class="table table-sm table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col">cargo</th>
        <th scope="col">titular</th>
        <th scope="col">suplente</th>
    </tr>
    </thead>
    <tbody>
    {% for row in a_valores %}
        <tr>
            <td>{{ row.cargo|raw }}</td>
            <td>{{ row.titular|raw }}</td>
            <td>{{ row.suplente.desplegable|raw }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    fnjs_update_suplente = function (id_cargo) {
        var que = 'suplente';
        var id_txt = '#id_suplente_' + id_cargo;
        var id_suplente = $(id_txt).val();
        var url_ajax = 'apps/usuarios/controller/cargo_update.php';

        //alert("Borrar entrada: "+id_entrada);
        var param_json = {que: que, id_cargo: id_cargo, id_suplente: id_suplente};
        request = $.ajax({
            data: param_json,
            url: url_ajax,
            method: 'POST'
        });
        request.done(function (json) {
            if (json.success != true) {
                alert(json.mensaje);
            }
        });
    }
</script>