<div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-10">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user">
                <div class="mb-3">
                   <input type="text" class="form-control form-control-user" id="usuario" name="usuario" placeholder="Login Name" value="{{ usuario }}">
                </div>
                <div class="mb-3 row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="nom_usuario" name="nom_usuario" placeholder="Nombre a mostrar" value="{{ nom_usuario }}">
                  </div>
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="Email Address" value="{{ email }}">
                </div>
                <div class="mb-3 row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                  </div>
                </div>
                <a href="login.html" class="btn btn-primary btn-user w-100">
                  Register Account
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login.html">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
