{# solo debe cargarse un vez, sino hay conflicto con los dropdown bootsrtap #}
{%  if not peticion_ajax %}
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	
    <!-- Slick -->
    <!-- OJO: IMPORTA el orden. Pueden salir avisos (en consola del navegaador) tipo: Grid.xx not defined
    <link type='text/css' rel='stylesheet' href='node_modules/slickgrid/slick.grid.css' />
      -->
	<!-- OJO: INCOMPATIBLE con el fileinput.js (arrastrar)
    <script type='text/javascript' src='node_modules/slickgrid/lib/jquery.event.drag-2.3.0.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/lib/jquery.event.drop-2.3.0.js'></script>
	 -->
	 <!-- por lo de arriba
    <script type='text/javascript' src='node_modules/slickgrid/slick.core.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/slick.grid.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/slick.editors.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/slick.formatters.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/slick.dataview.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/plugins/slick.autotooltips.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/plugins/slick.cellrangedecorator.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/plugins/slick.cellrangeselector.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/plugins/slick.cellselectionmodel.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/plugins/slick.checkboxselectcolumn.js'></script>
    <script type='text/javascript' src='node_modules/slickgrid/plugins/slick.rowselectionmodel.js'></script>

    <link type='text/css' rel='stylesheet' href='node_modules/slickgrid/controls/slick.columnpicker.css' />
    <script type='text/javascript' src='node_modules/slickgrid/controls/slick.columnpicker.js'></script>
    <link type='text/css' rel='stylesheet' href='node_modules/slickgrid/controls/slick.gridmenu.css' />
    <script type='text/javascript' src='node_modules/slickgrid/controls/slick.gridmenu.js'></script>
    <link type='text/css' rel='stylesheet' href='node_modules/slickgrid/controls/slick.pager.css' />
    <script type='text/javascript' src='node_modules/slickgrid/controls/slick.pager.js'></script>
    -->
    
    <script src="node_modules/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
{% endif %}

{% include '_css_default.html.twig' %}
<!-- vars: oficina, username, pagina_profile,  -->
{% include '_nav_bar.html.twig' %}

<!-- Page content -->
<div id="content" style="margin: 1cm;" >   
    <!-- Tabs -->
    <div id="tabs" style="margin: 1cm;" >  
    <!-- vars: a_pills -->
    {% include 'usuario_tabs.html.twig' %}
    </div> <!-- End of tabs -->
    <!-- Main -->
    <div id="main" style="margin: 1cm;" >
    </div> <!-- End of main -->
</div> <!-- End of content -->

<div id="cargando" >{{ "Cargando..."|trans }}</div>
<div id="left_slide" class="left-slide">
	<span class=handle onClick="fnjs_ir_a('#ir_atras');"></span>
</div>     

<!-- Custom scripts for all pages-->
<!-- vars: mi_idioma, error_fecha -->
{% include '_scripts_default.html.twig' %}